extends layout

block content
  h1 #{title}: #{category.name}

  if products.length

    p #[strong Delete os produtos abaixo antes de excluir essa categoria.]

    div(style='margin-left:20px;margin-top:20px')

      h4 Produtos

      dl
      each product in products
        dt
          a(href=product.url) #{product.name}
        dd #{product.description}

  else
    p Tem certeza de que deseja excluir esta categoria?

    form(method='POST' action='')
      div.form-group
        input#id.form-control(type='hidden',name='id', required='true', value=category._id )

      button.btn.btn-primary(type='submit') Excluir