extends layout

block content
  h1= title 

  if error
    p Erro ao requisitar conteúdo. #{error}
  else
    p Informações gerais:
    ul
      li #[strong Produtos:] #{data.productCount}
      ul
        li #[strong Em estoque:] #{data.inStockProductCount}
        li #[strong Baixo estoque:] #{data.lowStockProductCount}
        li #[strong Sem estoque: ] #{data.outOfStockProductCount}
      li #[strong Categorias:] #{data.categoryCount}
      li #[strong Fornecedores:] #{data.supplierCount}