extends layout

block content

  h1 #{supplier.name}
  h3 CNPJ: #{supplier.cnpj}
  p #[strong Location:] #{supplier.location}

  div(style='margin-left:20px;margin-top:20px')

    h4 Products:

    dl
      each product in supplier_products
        dt
          a(href=product.url) #{product.name}
      else
        p This supplier does not provide any products.
  hr
  p
    a(href=supplier.url+'/delete') Delete Supplier
  p
    a(href=supplier.url+'/update') Update Supplier
